<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define Pattern for Log Messages -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] [RequestId:%X{requestId}] %msg%n"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender for REST Module -->
    <appender name="RestFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/rest.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="RestFileAppender" />
    </root>

    <!-- Logger for REST Module -->
    <logger name="com.challenge.wit.rest" level="DEBUG">
        <appender-ref ref="Console" />
        <appender-ref ref="RestFileAppender" />
    </logger>

    <!-- Reduce verbosity for Spring Framework -->
    <logger name="org.springframework" level="INFO" />
</configuration>