<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Calculator Module -->
    <appender name="CalculatorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/calculator.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/calculator.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>


    <!-- Logger for Calculator Module -->
    <logger name="com.challenge.wit.calculator" level="DEBUG" additivity="false">
        <appender-ref ref="CalculatorFileAppender" />
    </logger>

    <!-- Reduce verbosity for Spring Framework -->
    <logger name="org.springframework" level="INFO" />
</configuration>